@font-face {
	font-family: SFProDisplay;
	src: url("../fonts/SFProDisplay-Bold.ttf");
	font-weight: 700;
}
@font-face {
	font-family: SFProDisplay;
	src: url("../fonts/SFProDisplay-Regular.ttf");
	font-weight: 400;
}
@font-face {
	font-family: SFProDisplay;
	src: url("../fonts/SFProDisplay-Medium.ttf");
	font-weight: 500;
}
body {
	margin: 0;
	line-height: 1;
	font-family: 'SFProDisplay';
}
html, body {

}
a {
	text-decoration: none;
}
p {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
ul {
	padding: 0;
}
h1,h2,h3,h4,h5,h6,h7 {
	margin: 0;
}
input::-ms-clear {
	display: none;
}
input:focus {
	outline: none !important;
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
button:active, button:focus {
	outline: none;
}
button::-moz-focus-inner {
	border: 0;
}
button {
	cursor: pointer;
	border: 0;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #404042;
	opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #404042;
	opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #404042;
	opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
	color: #404042;
	opacity: 1;
}
.text-center {
	text-align: center;
}
.center {
	justify-content: center;
}
.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;
}
.header-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 17px 0;
}
.logo {
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	color: #FFFFFF;
}
.logo img {
	margin-right: 10px;
}
.navbar {
	display: flex;
}
.navbar li {
	margin-right: 70px;
}
.navbar li a {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #164A97;
}
.social {
	display: flex;
}
.social-item {
	display: block;
	margin-right: 10px;
}
.open-modal {
	cursor: pointer;
}
.btn {
	background: #164A97;
	border-radius: 100px;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	padding: 17px 30px;
	color: #FFFFFF;
}
.main {
	background: url(../image/bg.png) 100% 100%;
}
.main-bg {
	height: 100vh;
	display: flex;
	align-items: center;
}
.main-content {
	width: 50%;
}
.main__image {
	position: absolute;
	bottom: 0;
	right: -70px;
}
.main__image img {
	width: 100%;
	height: 600px;
}
.title-h1	{
	font-weight: 700;
	font-size: 50px;
	line-height: 60px;
	margin-bottom: 40px;
	color: #FFFFFF;
}
.main-list {

}
.main-list li {
	position: relative;
	padding-left: 32px;
	margin-bottom: 30px;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	color: #FFFFFF;
}
.main-list li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 5px;
	width: 12px;
	height: 12px;
	background: #FFFFFF;
	border-radius: 50%;
}
.main .container {
	position: relative;
}
.main-logo {
	position: absolute;
	display: flex;
	align-items: center;
	bottom: 40px;
}
.main-logo-item {
	margin-right: 35px;
}
.news {
	margin: 160px 0;
}
.title-h2 {
	margin-bottom: 72px;
	font-weight: 700;
	font-size: 50px;
	line-height: 60px;
	color: #373737;
}
.mews-card {
	margin-bottom: 20px;
}
.mews-card-link {
	display: block;
}
.mews-card__image {
	width: 100%;
	border-radius: 12px;
}
.mews-card__image img {
	width: 100%;
	border-radius: 12px;
}
.mews-card__date {
	margin: 18px 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #373737;
}
.mews-card__title {
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	color: #154995;
}
.btn-center {
	display: flex;
	justify-content: center;
	margin-top: 60px;
}
.btn-all {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	border: 2px solid #154995;
	border-radius: 100px;
	padding: 17px 44px;
	color: #154995;
}
.bio__title {
	font-weight: 700;
	font-size: 50px;
	line-height: 60px;
	color: #373737;
	margin-bottom: 25px;
}
.bio__text {
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #373737;
}
.bio__text b {
	font-weight: 700;
}
.bio__link {
	margin-top: 30px;
	padding: 16px 45px;
	background: #124590;
	border-radius: 100px;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	display: block;
	width: fit-content;
}
.bio__image {
	padding-right: 40px;
}
.bio__image img {
	width: 100%;
}
.work {
	margin: 160px 0;
}
.work-flex {
	display: flex;
	justify-content: space-between;
}
.work-flex-item {
	width: 28%;
}
.work-card__image {
	display: flex;
	justify-content: center;
}
.work-card__title {
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	margin: 32px 0 42px 0;
	color: #373737;
}
.work-card__text {
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #5E5E5E;
}
.footer {
	padding: 32px 0;
	background: #124590;
	position: relative;
}
.footer .navbar a {
	color:  #fff;
}
.footer .btn {
	background: #FFFFFF;
	color: #164A97;
}
.copy {
	margin: 71px 0 28px 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	text-align: center;
}
@media screen and (max-width: 576px){

}